.obi_van,
.film {
  width: 75%;
  padding: 20px;
  border-radius: 20px;
  margin: 15px auto;
  background-color: burlywood;
}
.hero,
.episode {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
.wrapper_arr {
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
}






